<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>ν¬μΈνΈ μƒµ</title>
  <link rel="stylesheet" href="/style/pointshop_style.css">
</head>
<body>
  <div class="shop-container">
    <h2 class="shop-title">π ν¬μΈνΈ μƒµ</h2>

    <div class="point-info">
      μ•λ…•ν•μ„Έμ”, <strong><%= user.user_id %></strong>λ‹ <br>
      ν„μ¬ λ³΄μ  ν¬μΈνΈ: <strong><%= user.point %>P</strong>
    </div>

    <div class="item-list">
      <div class="item">
        <h4>β• ν•™κµ μΉ΄ν μΏ ν°</h4>
        <p>μ•„λ©”λ¦¬μΉ΄λ…Έ 1μ” / 300P</p>
        <form action="/pointshop/buy" method="POST">
          <input type="hidden" name="item" value="cafe_coupon">
          <button type="submit">κµ¬λ§¤ν•κΈ°</button>
        </form>
      </div>

      <div class="item">
        <h4>π ν•™μ‹ μΏ ν°</h4>
        <p>1ν μ΄μ©κ¶ / 400P</p>
        <form action="/pointshop/buy" method="POST">
          <input type="hidden" name="item" value="meal_coupon">
          <button type="submit">κµ¬λ§¤ν•κΈ°</button>
        </form>
      </div>

      <div class="item">
        <h4>π‰ κΈ°ν”„ν‹°μ½</h4>
        <p>κΈ°ν”„ν‹°μ½ / 500P</p>
        <form action="/pointshop/buy" method="POST">
          <input type="hidden" name="item" value="gifticon">
          <button type="submit">κµ¬λ§¤ν•κΈ°</button>
        </form>
      </div>
    </div>
    <a href="/">λ‹¤μ‹ λμ•„κ°€κΈ°</a>
  </div>
</body>
</html>